ADMIN_SECRET=
ALLOWED_ORIGINS=
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAIL_APP_PASSWORD=
EMAIL_USER=
FIREBASE_API_KEY=
FIREBASE_FIRESTORE_DATABASE_ID=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=